// Color Variables

$color-background:hsl(185, 75%, 39%);

$color-primary:hsl(229, 23%, 23%);
$color-greyish-blue:hsl(227, 10%, 46%);

$color-dark-grey:hsl(0, 0%, 59%);



*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;

    font-size: 62.5%; //10px /16px = 62.5%

    @include respond(tab-land){
        font-size: 56.25%; //1rem = 9px , 9/16  
    }

    @include respond(tab-port){ // width < 900 ?
        font-size: 50%;    //1rem = 8px ,8/16
    }
    
    @include respond(big-desktop){ // min-width = 1800 ?
        font-size: 75%; //1rem = 12px, 12/16    
    }

}

body{
    font-family:Kumbh Sans;
    font-weight: 300;
    color:$color-greyish-blue;
    background-image: linear-gradient($color-background,$color-background);
    background-size: 100%;
    background-repeat: repeat;
    height: 100vh;
    overflow: hidden;
}